.bg-img {
    position: relative;
    background-color: rgb(255, 255,255);
    margin-bottom: 12px;
    text-align: center;
    border-radius: 8px;
    font-weight: 500;
    overflow: hidden;
}

.bg-canvas {
    pointer-events: none;
    border-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
