.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
}
.close {
   background-color: rgb(39,13,11);
   border: none;
   cursor: pointer;
}

.modal-header {
    display: flex;
    flex-direction: row;
    color: rgb(239, 226, 178);
    text-align: center;
}

.modal-title {
    flex:1 1 0%;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    padding-top: 4px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.modal-footer {
    display: flex;
    flex-direction: row;
}